@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-size: 12px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  transition: color 0.3s, border 0.8s;
}

.highlight {
  animation: 5s highlight cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.words {
  background: linear-gradient(to right, black, white, black);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes highlight {
  0% {
    border-color: red;
  }

  100% {
    border-color: white;
  }
}
