@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0 0 0;
  --background-start-rgb: 214 219 220;
  --background-end-rgb: 255 255 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255 255 255;
    --background-start-rgb: 0 0 0;
    --background-end-rgb: 0 0 0;
  }
}

body {
  font-size: 12px;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

* {
  transition: color 0.2s, border 0.2s;
}

.words-container {
  .words-container-left {
    background: linear-gradient(
      to right,
      rgba(var(--background-start-rgb)) 25%,
      rgba(var(--foreground-rgb) / 0.35) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .words-container-right {
    background: linear-gradient(
      to left,
      rgb(var(--background-start-rgb)) 25%,
      rgb(var(--foreground-rgb) / 0.35) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .words-container-center {
    color: white;
  }

  display: flex;
  justify-content: space-between;

  div {
    &:first-child,
    &:last-child {
      display: flex;
      flex-grow: 1;
      flex-basis: 0;
    }

    &:first-child {
      justify-content: right;
    }
  }
}

.highlight {
  animation: 1s highlight cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes highlight {
  0% {
    border-color: red;
  }

  90% {
    border-color: red;
  }

  100% {
    border-color: white;
  }
}
